*.class
*.jar
.classpath
.externalToolBuilders
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.project
.repl
.settings
/.cljs_node_repl
/checkouts
/classes
/lib
/node_modules
/out
/target
pom.xml
